body{
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 180px;
}
div.image{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
	animation: sary linear 0.5s;
	}
	@keyframes sary{
		from{
			transform:0;
			opacity: 0;
	
		}
		to{
			transform: 1;
			opacity: 1;
		}
    }